* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    background-image: url(../imgs/jumbo.png);
    display: flex;
    align-items: center;
}

.container-header {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.section-header1 {
    flex-basis: 20%;
    display: flex;
    align-items: center;
}

.section-header2 {
    flex-basis: 60%;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.section-header3 {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
}

.section-header3 button {
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
}

.container-1 {
    width: 50%;
    height: 200px;
    margin: 0 auto;
    background-color: rgb(239, 121, 208);
}

.background-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-1 img {
    width: 100%;
    height: auto;
    
}

.background-2 {
    height: 280px;
    background-color: white;
    display: flex;
    align-items: center;
}

.container-2 {
    width: 60%;
    height: 240px;
    margin: 0 auto;
    display: flex;
    border: black dotted 2px;
}

.section1 {
    flex-basis: 70%;
    background-color: rgb(79, 131, 255);
}

.section2 {
    flex-basis: 30%;
    background-color: rgb(255, 177, 177);
}

.container-3 {
    width: 60%;
    height: 240px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    border: black dotted 2px;
}

.container-4 {
    width: 60%;
    height: 240px;
    margin: 0 auto;
    display: flex;
    border: black dotted 2px;
}

.background-3 {
    height: 280px;
    background-color: rgb(210, 210, 210);
    display: flex;
    align-items: center;
}

.background-4 {
    height: 280px;
    background-color: white;
    display: flex;
    align-items: center;
}

.background-5 {
    height: 500px;
    background-color: rgb(210, 210, 210);
    display: flex;
    align-items: center;
}

.container-5 {
    width: 60%;
    height: 460px;
    margin: 0 auto;
    background-color: rgb(31, 128, 31);
}

.background-footer-1 {
    height: 325px;
    background-color: black;
    display: flex;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.container-footer-1 {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    padding-top: 5px;
    padding-bottom: 20px;
}

.section-footer1 {
    flex-basis: 25%;
    background-color: rgb(255, 120, 120);
    border: rgb(0, 0, 0) dotted 2px;
}

.section-footer2 {
    display: flex;
    flex-basis: 75%;
}

.sub-section1, .sub-section2, .sub-section3, .sub-section4 {
    flex-basis: 25%;
    background-color: rgb(42, 175, 144);
    border: white dotted 2px;
}

.background-footer-2 {
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    border-bottom: 1px solid rgb(219, 219, 219);
    align-items: flex-end;
}

.container-footer-2 {
    width: 70%;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(167, 255, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgb(255, 175, 175);
    border: black dotted 2px;
    font-size: 10px;
    padding: 3px;
}