* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    background-image: url(../imgs/jumbo.png);
    display: flex;
    align-items: center;
}

.container-header {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.section-header1 {
    flex-basis: 20%;
    display: flex;
    align-items: center;
}

.section-header2 {
    flex-basis: 60%;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.section-header3 {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
}

.section-header3 button {
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
}

.container-1 {
    width: 50%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.container-1 h2 {
    font-size: 32px;
}

.container-1 h4 {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}

.container-1 button {
    border-radius: 20px;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
}

.background-white {
    background-color: #fff;
}

.background-black {
    background-color: rgb(47, 47, 47);
    color: white;
}

.background-indaco {
    background-color: rgb(121, 137, 255);
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
}

.background-1 {
    width: 100%;
    min-height: 400px;
    background-image: url(../imgs/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-2 {
    min-height: 280px;
    background-color: white;
    display: flex;
    align-items: center;
}

.container-2 {
    width: 60%;
    min-height: 240px;
    margin: 0 auto;
    display: flex;
    border: none;
}

.section1 {
    flex-basis: 60%;
}

.item1 {
    background-image: url(../imgs/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.item2 {
    background-image: url(../imgs/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.item3 {
     background-image: url(../imgs/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.section2-text h2 {
    font-size: 32px;
}

.section2 {
    flex-basis: 40%;
}

.container-3 {
    width: 60%;
    min-height: 240px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.container-4 {
    width: 60%;
    min-height: 240px;
    margin: 0 auto;
    display: flex;
}

.background-3 {
    min-height: 280px;
    background-color: rgb(241, 241, 241);
    display: flex;
    display: inline-block;
    align-items: center;
}

.background-4 {
    min-height: 280px;
    background-color: white;
    display: flex;
    align-items: center;
}

.background-5 {
    min-height: 500px;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.container-5 {
    width: 60%;
    min-height: 460px;
    margin: 0 auto;
    text-align: center;
}

.padding5 {
    padding-bottom: 30px;
}

.background-footer-1 {
    height: 325px;
    background-color: rgb(45, 45, 45);
    display: flex;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.container-footer-1 {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    padding-top: 5px;
    padding-bottom: 20px;
}

.section-footer1 {
    flex-basis: 25%;
    color: #fff;
}

.section-footer2 {
    display: flex;
    flex-basis: 75%;
    color: #fff;
    font-weight: 400;
    line-height: 2;
}

.sub-section1, .sub-section2, .sub-section3, .sub-section4 {
    flex-basis: 25%;
}

.background-footer-2 {
    height: 60px;
    background-color: rgb(45, 45, 45);
    display: flex;
    border-bottom: 1px solid rgb(219, 219, 219);
    align-items: flex-end;
}

.container-footer-2 {
    width: 70%;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(167, 255, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgb(255, 175, 175);
    border: black dotted 2px;
    font-size: 10px;
    padding: 3px;
}

.sub-section1 {
    display: flex;
    flex-direction: column;
}

.indaco {
    color: rgb(121, 137, 255);
}

.lingua img {
    width: 28px;
    height: 15px;
    padding-right: 5px;
}

.lingua {
    display: flex;
}